/* .Hotspot {
    background-color: #ffffff;
    color: rgb(9, 47, 34);
    border-radius: 3px;
    padding: 3px;
}
.larger-example {
    width: 600px;
    height: 500px;
    background-color: rgb(208, 198, 182);
} */

h1 {
    text-align: center;
}

.furniture-container {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; 
}
model-viewer {
    width: 30%; 
    height: 400px;
}