@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;}

h1 {
    text-align: center;
}

.furniture-container {
    display: flex;
    justify-content: space-between; /* Distribute items with space between them */
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px; /* Limit maximum width of the container */
    margin: 0 auto; /* Center the container horizontally */
    flex-wrap: nowrap; /* Prevent items from wrapping to the next line */
    overflow-x: auto; /* Enable horizontal scrolling if needed */
    padding: 0 10px; /* Add padding to accommodate smaller screens */
}
model-viewer {
    flex: 0 0 calc(33.33% - 20px); /* Adjust width as needed */
    max-width: calc(33.33% - 20px); /* Adjust max-width as needed */
    height: 400px;
    background-color: lightgrey;
}

.hotspot-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
}