@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;}

h1 {
    text-align: center;
}

.furniture-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.model-container model-viewer {
    height: 400px;
    max-width: 100%;
    background-color: lightgrey;
}

.product-info {
    text-align: left;
    border-radius: 5px;
}

.product-info h3, p {
    padding-bottom: 0;
    margin-bottom: 0;
}

.product-info p {
    padding-top: 0;
    margin-top: 0;
}